@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), url('./assets/fonts/Roboto.zip') format('zip');
    font-weight: normal;
    font-style: normal;
  }
  body {
    font-family: 'Open Sans', sans-serif;
  }